:root {
  --massholes-blue: #323c4d;

  /* TICKER */
  --ticker-height: 36px;
  --side-bar-width: 128px;

  --league-width: 50px;
  /* works if you want to suffix "Playoffs" on the league logo */
  /* --league-width: 128px; */
  --score-width: 650px;

  --marquee-width: calc(1920px - var(--league-width) - var(--score-width));
  --marquee-header: 100px;

  /* how long it takes to go through everything in the ticker */
  --ticker-cycle: 480s;
  /* for when you're debugging animations and you don't want to wait 8 mins for a full cycle */
  /* --ticker-cycle: 36s; */

  /* the time it takes to complete a right-to-left horizontal scroll in the marquee */
  --marquee-cycle: 20s;

  /* NEWS */
  --news-bottom-bar-height: 72px;
  --news-bottom-bar-width: 1920px;
  --news-left-bar-height: calc(1080px - var(--news-bottom-bar-height));
  --news-left-bar-width: 128px;

}

body {
  background-color: #00ff00;
  margin: 0;
  box-sizing: border-box;
}

.border-left {
  border-left: 2px solid white;
}

.border-right {
  border-right: 2px solid white;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: end;
}

.space-between {
  justify-content: space-between;
}

input,
option,
select {
  font-size: 20px;
}