.container {
  width: 100%;
}

.scoreBoard {
  margin-left: auto;
  margin-right: auto;

  width: 116px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;

  font-size: 32px;
}

.teams {
  width: 100%;
  text-transform: uppercase;
  text-align: left;
  margin-left: 4px;
}

.scores {
  width: 100%;
  text-align: right;
  margin-right: 4px;
}